body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: var(--white-color);
}
  

::-webkit-scrollbar-thumb {
    background: var(--grey-color-2);
}
  

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-color-3);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-4);
    width: 100%;
    height: 77px;
}

.main {
    display: flex;
    flex-direction: column;
}

.content-menu {
    display: flex;
    width: 100%;
    background-color: var(--grey-color-2);
    padding: 2rem 1rem 6rem 1rem;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    gap: 10px;
}

.detail {
    display: block;
}

.detail--bigscreen {
    display: none;
}

.table-container {
    position: relative;
    bottom: 86px;
    margin: 1rem 0rem 0rem 1rem;
    overflow-x: auto;
}

.table {
    min-width: 1380px;
    min-height: 420px;
    
}

.table__header {
    
    height: 70px;
    background-color: var(--primary-color-4);
    color: var(--white-color);
}

.table__body > tr:nth-child(odd) {
    background-color: var(--grey-color-1);
}

.country-flag-container {
    display: flex;
    align-items: center;
    gap: 17px;
}

.img-flag {
    width: 28px;
    height: 20px;
    border-radius: 2px;
}

td {
    height: 70px;
    border-right: 2px solid var(--grey-color-2);
}

td:nth-child(2), th:nth-child(2) {
    width: 425px;
    padding-left: 1.938rem;
    text-align: start;
}

td:last-child, th:last-child {
    border-right: none;
}

th {
    border-right: 2px solid #5E72D2;
}

th:last-child {
    width: 112px;
}

td, th {
    vertical-align: middle;
}

.arrow-icon--selected {
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
    .search-form {
        flex-direction: row;
    }

    .input {
        width: 300px;
    }

    .detail {
        display: none;
    }

    .detail--bigscreen {
        display: block;
    }
    
    .button {
        align-self: flex-end;
    }

    .content-menu {
        flex-direction: column;
        gap: 10px;
        padding-left: 5%;
    }

    .table {
        margin: auto;
    }
}